<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="biodata">
        <h1>Biodata</h1>
        <hr>
        <p>Nama : Nur Fadli Dwi Leksana</p>
        <p>Kelas: XII PPLG 1</p>
        <p>Jurusan : Pengembangan Perangkat Lunak Dan Gim</p>
        <p>Sekolah : SMK N 1 PURWOKERTO</p>
        <P>No.Hp : 085848842086</P>
        <p>Hobi : Main Game</p>
        <p>Moto Hidup : Jangan Lupa Makan ya bro kuuuuuuuuuuu</p>
    </div>
</body>
</html>